:host{
    display: block;
}

ul{
    display: flex;
    list-style-type: none;
}

li
li > a {
    color: rgba(0, 0, 0, 0.3);
    display: block;
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;
}

li > a {
    color: rgba(0, 0, 0, 0.3);
    display: block;
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;
}

li > a {
    color: rgba(0, 0, 0, 0.3);
    display: block;
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;
}

li > a:hover {
    color: rgba(0, 0, 0, 0.7);
}